{% extends "emails/layout/html_layout.html" %}

{% block content %}
<p>Mail para {{ estudiante|title }}.</p>

<p>Buenas!</p>
<p>Te pasamos un resumen de tu cuatrimestre en {{ curso }}:</p>

<h2>Ejercicios</h2>
<ul>
    {% for ejercicio in ejercicios %}
    <li><b>{{ ejercicio.nombre }}:</b> {{ ejercicio.nota }}</li>
    {% endfor %}
</ul>

<h2>Parciales</h2>
<ul>
    <li><b>1er Parcial:</b> {{ primer_parcial }}</li>
    <li><b>2do Parcial:</b> {{ segundo_parcial }}</li>
    {% if primer_recu != "" %}
    <li><b>1er Recu:</b> {{ primer_recu }}</li>
    {% endif %}
    {% if segundo_recu != "" %}
    <li><b>2do Recu:</b> {{ segundo_recu }}</li>
    {% endif %}
</ul>

<h2>TP Integrador</h2>
<ul>
    <li><b>Nota final:</b> {{ tp_integrador }}</li>
</ul>

<h2>Condición cursada</h2>
<ul>
    <li><b>Promedio ejercicios + 1er parcial:</b> {{ promedio_ej_y_parcial }}</li>
    <li><b>2do parcial o 1er recu:</b> {{ segundo_parcial_o_recu }}</li>
    <li><b>TP integrador:</b> {{ tp_integrador }}</li>
    {% if punto_adicional != "" %}
    <li><b>Punto adicional:</b> {{ punto_adicional }}</li>
    <li><b>Nota cursada final:</b> {{ nota_cursada_final }} </li>
    {% endif %}
</ul>

{% if condicion_final == "Recursa" %}
<p>Como ya estarás al tanto, tus resultados en el parcial y sus recuperatorios no fueron suficientes para aprobar la
    cursada de la materia. Lamentamos mucho esta situación y esperamos verte de nuevo el próximo cuatrimestre para
    revisitar los conceptos de la materia, reforzando todo lo que haya faltado este cuatrimestre.</p>
<br>
{% endif %}

{% if condicion_final == "Promociona" %}
<p>Desde el equipo de {{ curso }} queremos felicitarte por haber promocionado la materia.</p>
<p>Para terminar con la cursada, necesitamos que te inscribas a través del SIU Guaraní a alguna de las fechas de final
    (preferentemente la próxima, el <b>{{ fecha_final_promociones }}</b>), para que allí podamos asentar tu nota. No hace falta
    que vengas a la facultad ese día, nos alcanza con que te inscribas a través del SIU.</p>
<p>Si no estás conforme con tu nota y preferís rendir el examen final, por favor respondé a este mail avisándonos, así
    te esperamos para rendir en la fecha que te anotes.</p>
{% endif %}

{% if condicion_final == "A Final" %}
<p>Desde el equipo de {{ curso }} queremos felicitarte por haber aprobado la cursada.</p>
<p>Para terminar con la materia falta que rindas el examen final, que consistirá de un oral acerca de las lecturas
    obligatorias de la materia y un repaso sobre los ejercicios que hiciste durante la cursada. Si tu idea es rendirlo
    este cuatrimestre, necesitamos que te inscribas a través del SIU Guaraní a alguna de las fechas de final y vengas
    presencialmente a la facultad tal y como hiciste para rendir los parciales. Recordá que las inscripciones a cada
    mesa de examen cierran 72 horas hábiles antes de la misma.</p>
<p>Las fechas para este cuatrimestre son:</p>
<ul>
    {% for fecha_final in fecha_finales %}
    <li>{{ fecha_final }}</li>
    {% endfor %}
</ul>
{% endif %}

<p>Como siempre, estamos a disposición por mail o en Discord para cualquier consulta.</p>
<p>¡Saludos!</p>
<p>El equipo docente</p>

{% endblock %}